
$redHover: hsl(7, 99%, 70%);
$yellowHover: hsl(51, 100%, 49%);
$cherriesText: hsl(167, 40%, 24%);
$orangeFruitText:hsl(198, 62%, 26%);
$footerText: (168, 34%, 41%);

$pureWhite: hsl(0, 0%, 100%);
$veryLightBlue: hsl(210, 4%, 67%);
$lightBlue: hsl(232, 10%, 55%);
$darkBlue: hsl(213, 9%, 39%);
$veryDarkBlue: hsl(212, 27%, 19%);