
@use './_colors' as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$fraunces: 'Fraunces', sans-serif;
$Barlow: 'Barlow', sans-serif;

html {
    font-size: 62.5%;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.nav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 1em;
    z-index: 100;
    
        &__links {
            display: flex;
        }

        &__links-desktop {
            display: none;
        }
        &__links-mobile {
            position: absolute;
            padding: 3em 2em;
            flex-direction: column;
            align-items: center;
            top: 8em;
            right: 1.5em;
            width: min(300px, 90%);
            background-color: $pureWhite;
            transform: scale(.7);
            opacity: 0;
            visibility: hidden;
            transition: transform .2s cubic-bezier(0.25, 0.1, 0.12, 1.73), opacity .2s, visibility .2s;

                &--opened {
                    opacity: 1;
                    visibility: visible;
                    transform: scale(1);
                }

                &::before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: -2em;
                    width: 0; 
                    height: 0; 
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent; 
                    border-right:20px solid $pureWhite; 
                }
        }
        &__link {
            display: block;
            margin: .8em 0;
            text-decoration: none;
            color: $darkBlue;
            font-size: 2rem;
            font-family: $Barlow;
            font-weight: 600;
            

                &:last-child {
                    background-color: $yellowHover;
                    color: $veryDarkBlue;
                    text-transform: uppercase;
                    font-family: $fraunces;
                    font-weight: 700;
                    font-size: 1.5rem;
                    padding: 1em 1.8em;
                    border-radius: 30px;
                    transition: background-color .3s;

                        &:hover {
                            background-color: hsl(51, 82%, 54%);
                        }
                }
        }
        &__burger-btn {
            padding: .5em;
            border: none;
            background: none;
            cursor: pointer;
            transition: opacity .3s;

                &--active {
                    opacity: 0.7;
                }
        }
}


// HEADER 

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
    padding: 2em;
    background-image: url('../images/mobile/image-header.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;

    &__title {
        margin-block-start: 3em;
        text-align: center;
        font-family: $fraunces;
        font-size: 3rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        font-weight: 900;
        color: $pureWhite;
    }
    &__arrow {
        position: absolute;
        bottom: 8em;
    }

}


// IMAGES SECTION

.images {
    .desktop-visible {
        display: none;
    }
    &__img-yellow {
        width: 100%;
    }

}





@media(375px <= width) {
    .header {
        &__arrow {
            bottom: 12em;
        }
        &__title {
            margin-block-start: 4em;
            font-size: 3.5rem;
        }
    }
}